
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <%= image_tag("dumplings.jpg", :class => "img-circle img-fluid mb-5 d-block mx-auto", width: '200px') %>
    <h1 class="text-uppercase mb-0">Best Restaurants</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">All the best eats</h2>
  </div>
</header>

<section class="portfolio" id="gossip">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">The Restaurants</h2>
    <hr class="star-dark mb-5">
    <div class="col-lg-5 col-lg-offset-3">
      <% @restaurants.each do |restaurant| %>
        <div class="row">
          <h3><%= restaurant.name %> </h3>
          <p><%= restaurant.cuisine %> </p>
          <p><%= restaurant.description %> </p>
          <p><%= restaurant.address %> </p>
        </div>
      <% end %>
      <div id="map"></div>
    </div>
  </div>
</section>
<script>

function initMap() {

  var locations = <%= raw @locations_pins %>;

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 7,
    center: new google.maps.LatLng(52.533803, 13.398157),
  });

  var count;


  for (count = 0; count < locations.length; count++) {
    new google.maps.Marker({
      position: new google.maps.LatLng(locations[count][1], 	locations[count][2]),
      map: map,
      title: locations[count][0]
      });
   }

}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_API_KEY"]%>&callback=initMap">
</script>
