<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.cuisine %> </p>
<p><%= @restaurant.description %> </p>
<p><%= @restaurant.address %> </p>

<% @dishes.each do |a| %>
  <p> <%= a.name %> </p>
  <p> <%= a.description %> </p>
<% end %>
