
<div class="container", id="form_container">
  <div class="col-lg-5 col-lg-offset-3">

    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %> </p>
    <p><%= @restaurant.cuisine %> </p>
    <p><%= @restaurant.description %> </p>
    <u>Notable Dishes</u>
    <ul> <% @dishes.each do |a| %>
      <li><b><%= a.name %>: </b> <%= a.description %> </li>
    </ul>
    <% end %>

    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <%= link_to 'Back', root_path %> |
    <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete %>

    <div class="container" id="map-container">
      <iframe width="300" height="300" frameborder="0" style="border:0"
       src="https://www.google.com/maps/embed/v1/place?key=<%=ENV["GOOGLE_API_KEY"]%>&q=<%=@restaurant.address.gsub(" ","")%>"
      >
      </iframe>
    </div>
  </div>
</div>
